Package: libpreludecpp8
Source: libprelude
Version: 4.1.0-4.2
Architecture: amd64
Maintainer: Pierre Chifflier <pollux@debian.org>
Installed-Size: 687
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libprelude23 (>= 4.1), libstdc++6 (>= 5.2)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://www.prelude-siem.org/
Description: Security Information and Events Management system [ C++ library ]
 The Prelude Library is a collection of generic functions providing
 communication between the Prelude SIEM suite components. It provides a
 convenient interface for sending alerts to Prelude Manager with transparent
 SSL, failover and replication support, asynchronous events and timer
 interfaces, an abstracted configuration API (hooking at the commandline, the
 configuration line, or wide configuration, available from the Manager), and a
 generic plugin API. It allows you to easily turn your favorite security
 program into a Prelude sensor.
 .
 This package contains the Prelude C++ shared library.
