Package: python-prelude-dbgsym
Source: libprelude
Version: 4.1.0-4.2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Pierre Chifflier <pollux@debian.org>
Installed-Size: 466
Depends: python-prelude (= 4.1.0-4.2)
Section: debug
Priority: optional
Description: debug symbols for python-prelude
Build-Ids: 94fa0565c589751c6ae742381920c385fa271ab8
