Package: libprelude-dev
Source: libprelude
Version: 4.1.0-4.2
Architecture: amd64
Maintainer: Pierre Chifflier <pollux@debian.org>
Installed-Size: 813
Depends: libprelude23 (= 4.1.0-4.2), libpreludecpp8 (= 4.1.0-4.2), libgnutls28-dev, libgcrypt20-dev, libltdl3-dev
Suggests: libprelude-doc
Section: libdevel
Priority: optional
Homepage: https://www.prelude-siem.org/
Description: Security Information and Events Management system [ Development files ]
 The Prelude Library is a collection of generic functions providing
 communication between the Prelude SIEM suite components. It provides a
 convenient interface for sending alerts to Prelude Manager with transparent
 SSL, failover and replication support, asynchronous events and timer
 interfaces, an abstracted configuration API (hooking at the commandline, the
 configuration line, or wide configuration, available from the Manager), and a
 generic plugin API. It allows you to easily turn your favorite security
 program into a Prelude sensor.
 .
 This package contains the development files for Prelude components.
